<template>
    <div class="row">
        <div class="col-lg-6" id="expenses"></div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                expenseCategories: [],
                expenses: [],
            }
        },
        created() {
            this.getData();
        },
        methods: {
            getData() {
                axios.get('overview').then(response => {
                    this.expenses = response.data.expenses;
                    this.loadChart('Išlaidos', 'expenses', this.expenses);
                }).catch(function (error) {
                    console.log(error);
                });
            },
            loadChart(chartName, divName, field) {
                // Load the Visualization API and the corechart package.
                google.charts.load('current', {'packages': ['corechart']});

                // Set a callback to run when the Google Visualization API is loaded.
                google.charts.setOnLoadCallback(drawChart);

                // Callback that creates and populates a data table,
                // instantiates the pie chart, passes in the data and
                // draws it.
                function drawChart() {
                    // Create the data table.
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Kategorija');
                    data.addColumn('number', 'Suma');
                    data.addRows(field);

                    // Set chart options
                    var options = {
                        'title': chartName,
                        'width': $(window).width()*0.6,
                        'height': $(window).height()*0.4
                    };

                    // Instantiate and draw our chart, passing in some options.
                    var chart = new google.visualization.PieChart(document.getElementById(divName));
                    chart.draw(data, options);
                }
            }
        }
    }
</script>
